input{
	color: blue;
}
form{
	color: white;

}
body{
	background: black;
	background-image: url('imagens/neon-tropical.jpg');
}
.texto{
	color: blue;
}
#principal{
	float
}
p{
	color: white;
}
.apresentacao{
	color: blue;
}

a{
	color: red;
}
